.tab {
    width: 500px
}
.tab-nav {
    display: flex;
}
.tab-nav-item {
    margin-right: 2px;
    background: #cce;
    color: #100;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}
.tab-nav-item.is-active {
    background: #100;
    color: #fff;
}
.tab-contents {
    border: 1px solid #ccc;
    padding: 20px;
}
.tab-contents-item {
    display: none;
}